body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
    min-height: 39rem;
   
}
.formstyle{
    border: 10px solid rgb(30, 27, 27);
    width: 350px;
    height: 350px;
    border-radius:3% 3% 8% 8% ;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);

}
.colculate-box{
    width: 100%;
    text-align: end;
}
.all-btn{
    text-align: end;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px;
    height: 260px;
    background-color:rgb(30, 27, 27);
    border-radius: 0% 0% 5% 5% ;
}
 input{
    border: 0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border-radius:10%;
    box-shadow: 3px 3px 3px rgb(225, 225, 225);

}
.btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
   
}
input:hover{
    transform: scale(0.95);
  transition: 300ms ease;

}
#clear{
    width: 80px;
}
#calc{
    border: 0;
    margin: 0;
    padding: auto;
    border-radius: 0;
    font-size: 20px;
    text-align: end;
    text-decoration: none;
    width: 93%;
    box-shadow:0 0 0;
    cursor:auto;

}
#calc:hover{
    transform: scale(1);
    transition: none;


}